    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading" style="color:#33cccc">
                        	Outfits</h1>
<% for outfit in @outfits %>
  <div class="outfit">
    <h2><%= link_to outfit.name, outfit %></h2>
    Items: <%= outfit.items.count %>
  </div>
<% end %>

<p><%= link_to "New Outfit", new_outfit_path %></p>
