    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading" style="color:#33cccc">
                        	New Outfit
                        </h1>
<%= render 'form' %>

<p><%= link_to "Back to List", user_path(current_user) %></p>
