<h1 class='intro'><% @outfit.name %></h1>
 <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
  <div class="small-2 large-2 columns">
    <%= imdb_style_rating_for @outfit, current_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
     Appeal: <%= rating_for @outfit, "Appeal" , disable_after_rate: true %>
      <br>
    <% end %>
  </div>
</div>

<div id="outfits">
  <% for item in @outfit.items %>
    <div class="item">
      <%= image_tag item.image_url(:thumb) if item.image? %>
      <div class="name"><%= item.name %></div>
      <div class="actions">
        <%= link_to "edit", edit_item_path(item) %> |
        <%= link_to "remove", item, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<p>

  <%= link_to "Add an Item", new_item_path(:outfit_id => @outfit.id) %> |
  <%= link_to "Remove Outfit", @item, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View Outfits", outfits_path %>
</p>



