  <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
<h1  style="color:#33cccc"> <%= "Hello. What do you want to do?" =%> </h1>
<%= button_to "Create Outfit!", new_outfit_path(id: @user.id), :class => "button medium", :method => :get %>
<%= button_to "View Outfits!", outfits_path(id: @user.id), :class => "button medium", :method => :get %>
