/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: Verdana, Helvetica, Arial;
   font-size: 14px;
   padding-bottom: 250px;
 }

 a img {
   border: none;
 }

 a {
   color: #43AC6A;
 }

 .clear {
   clear: both;
   height: 0;
   overflow: hidden;
 }

 #container {
   width: 75%;
   margin: 0 auto;
   background-color: #FFF;
   padding: 20px 40px;
   border: solid 1px black;
   margin-top: 20px;
 }

 #flash_notice, #flash_error, #flash_alert {
   padding: 5px 8px;
   margin: 10px 0;
 }

 #flash_notice {
   background-color: #CFC;
   border: solid 1px #6C6;
 }

 #flash_error, #flash_alert {
   background-color: #FCC;
   border: solid 1px #C66;
 }

 .fieldWithErrors {
   display: inline;
 }

 .error_messages {
   width: 400px;
   border: 2px solid #CF0000;
   padding: 0px;
   padding-bottom: 12px;
   margin-bottom: 20px;
   background-color: #f0f0f0;
   font-size: 12px;
 }

 .error_messages h2 {
   text-align: left;
   font-weight: bold;
   padding: 5px 10px;
   font-size: 12px;
   margin: 0;
   background-color: #c00;
   color: #fff;
 }

 .error_messages p {
   margin: 8px 10px;
 }

 .error_messages ul {
   margin: 0;
 }

 .outfit h2 {
   margin-bottom: 2px;
 }

 .item {
   border: solid 1px #CCC;
   padding: 10px 10px;
   float: left;
   margin-right: 20px;
   margin-bottom: 20px;
 }

 .item .name {
   padding-top: 5px;
   text-align: center;
   font-weight: bold;
 }

 .item .image_placeholder {
   width: 200px;
   height: 150px;
   background-color: #B6B6B6;
 }

 .item .actions {
   font-size: 10px;
   text-align: center;
   color: #777;
 }
