<% if user_signed_in? %>
  <li><%= link_to 'Edit Your Profile', edit_user_registration_path %></li>
    <li>  <%=link_to 'View your outfits'
  %></li>
  <li><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %></li>

<% else %>
  <li><%= link_to 'Log In', new_user_session_path %></li>
  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
<% end %>
